{{> navbar}}

        <!-- Centering -->
        <div
          class="card shadow row justify-content-center my-5 mx-auto" 
          style="width: 35em; border-radius: 15px"
        >
        <div class="card-body p-3">
            <h3 class="text-center">Edit Account</h1>
            <!-- Grey line -->
            <hr />
    
            <form id="editAccountForm" action="/editaccount" method="POST" enctype="multipart/form-data">
              <div class="mb-3">
                <div class="row">
                  <div class="col">
                    <h5>First Name</h5>
                    <input
                      type="text"
                      class="form-control p-2"
                      id="FirstNameEdit"
                      name="fName"
                      aria-describedby="emailHelp"
                      value="{{user.fName}}"
                      required
                    />
                    <p id="fNameError" class="error">{{fNameError}}</p>
                  </div>
                  <div class="col">
                    <h5>Last Name</h5>
                    <input
                      type="text"
                      class="form-control p-2"
                      id="LastNameEdit"
                      name="lName"
                      aria-describedby="emailHelp"
                      value="{{user.lName}}"
                      required
                    />
                    <p id="lNameError" class="error">{{lNameError}}</p>
                  </div>
                </div>
              </div>      

              <div class="mb-3">
                <h5>Email</h5>
                <input
                  type="email"
                  class="form-control p-2"
                  id="EmailEdit"
                  name="email"
                  aria-describedby="emailHelp"
                  value="{{user.email}}"
                  required
                />
                <p id="emailError" class="error">{{pwError}}</p>
              </div>
              <div class="mb-3">
                <h5>Password</h5>
                <input
                  type="password"
                  class="form-control p-2"
                  id="PasswordEdit"
                  name="pw"
                  placeholder="Password"
                  value=""
                  minlength="8"
                />
                <p id="pwError" class="error">{{pwError}}</p>
              </div>
              <div class="mb-3">
                <h5>Re-Enter Password</h5>
                <input
                  type="password"
                  class="form-control p-2"
                  id="ReenterPasswordEdit"
                  name="Reenterpw"
                  placeholder="Password"
                  value=""
                  minlength="8"
                />
                <p id="pwError" class="error">{{pwError}}</p>
              </div>
              <div class="mb-3">
                <h5>Profile Picture</h5>
                <input
                  type="file"
                  accept=".jpg, .jpeg, .png"
                  class="form-control p-2"
                  id="dPicture"
                  title="Upload display picture"
                  name="dPicture"
                />
              </div>
              <div class="mb-4">
                <h5>Bio</h5>
                <textarea class="form-control p-2" name="bio" id="BioEdit" maxlength="150" aria-label="With textarea">{{user.bio}}</textarea>
                <p id="bioError" class="error">{{bioError}}</p>
                <p style="font-size: 10pt; margin-top: 10px; margin-bottom: -15px;"> (Current password and profile picture will be submitted if not modified) </p>
              </div>
              <div class="modal-footer">
                <a onclick="location.href='/settings'">
                  <button type="button" class="btn btn-secondary" style="margin-bottom: -0.6em;">Cancel</button>
                </a>    
                <button type="button" id="saveChangesbtn" name="saveChanges" class="btn btn-primary" style="margin-bottom: -0.6em;">Save changes</button>
              </div>
              <p id="error"></p>
              {{#if errorCreds}}
                <p id="errorCreds" style="color: red;">Invalid Information, please try again.</p>
              {{/if}}
            </form>
          </div>
        </div>
