{{> navbar}}

<section id="letterMasterSection">
    <div class="container" id="letterHeader" style="padding-top: 1.5em">
        <div class="row">
            <div class="col-9 mx-auto">
                <p class="text-center" style="text-shadow: 0 0 1px #22479c, 0 0 1px #163172; font-weight: 400; font-size: 30pt;">
                    {{#if incoming}}
                        Incoming Letters
                    {{else}}
                        Outgoing Letters
                    {{/if}}
                </p>
                <hr>
            </div>
        </div>
    </div>

    <div class="container" id="letterType">
        <div class="row">
            <div class="col-9 mx-auto">
                <div class="btn-group dropstart">
                    <button type="button" class="btn dropdown-toggle letterdropdown dropDownSort" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-filter"></i>
                    </button>
                    <ul class="dropdown-menu">
                    {{#if incoming}}
                        <li><button class="dropdown-item disabled sortOptionLetter">Received</button></li>
                        <li><button class="dropdown-item sortOptionLetter">Sent</button></li>
                    {{else}}
                        <li><button class="dropdown-item sortOptionLetter">Received</button></li>
                        <li><button class="dropdown-item disabled sortOptionLetter">Sent</button></li>
                    {{/if}}
                    
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container pt-3" id="mainSectionLetter">
        {{#if incoming}}
            {{#each letters}}
                <div class="row">
                    <div class="col-9 mx-auto">
                        <div class="card mb-3 mx-auto" style="padding-right: 0">
                            <div class="row g-0">
                                {{#if this.entryImage}}
                                    <div class="col-9 custom">
                                        <a href="indivletter/{{this._id}}" method='GET'>
                                            <h5
                                            class="card-title ps-3 pt-4"
                                            style="margin-bottom: -0.4em"
                                            >
                                            {{this.letterTitle}}
                                            </h5>
                                            <div class="card-body" style="overflow: hidden">
                                            <p class="card-text">
                                                {{this.letterBody}}
                                            </p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-3">
                                        <img
                                        src="image/{{this.entryImage}}"
                                        class="img-fluid"
                                        style="height: 169px; width: 246.5px; object-fit: cover"
                                        alt="..."
                                        />
                                    </div>
                                {{else}}
                                    <div class="col-12 custom">
                                        <a href="indivletter/{{this._id}}" method='GET'>
                                            <h5
                                            class="card-title ps-3 pt-4"
                                            style="margin-bottom: -0.4em"
                                            >
                                            {{this.letterTitle}}
                                            </h5>
                                            <div class="card-body" style="overflow: hidden">
                                            <p class="card-text">
                                                {{this.letterBody}}
                                            </p>
                                            </div>
                                        </a>
                                    </div>
                                {{/if}}
                                <div class="card-footer" id="letterFooter">
                                    <p class="card-text">
                                        <small class="text-muted"> Sent by <a href="/userprofile/{{this.author}}">{{this.author}}</a> at {{time this.dateToReceive}} on {{date this.dateToReceive}}</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{else}}
                <div class="row">
                    <div class="col-12">
                        <p style="text-align: center; margin-bottom: 0.5em">You do not have incoming letters</p>
                    </div>
                </div>
            {{/each}}
        {{else}}
            {{#each letters}}
                <div class="row">
                    <div class="col-9 mx-auto">
                        <div class="card mb-3 mx-auto" style="padding-right: 0">
                            <div class="row g-0">
                                {{#if this.entryImage}}
                                    <div class="col-9 custom">
                                        <a href="indivletter/{{this._id}}" method='GET'>
                                            <h5
                                            class="card-title ps-3 pt-4"
                                            style="margin-bottom: -0.4em"
                                            >
                                            {{this.letterTitle}}
                                            </h5>
                                            <div class="card-body" style="overflow: hidden">
                                            <p class="card-text">
                                                {{this.letterBody}}
                                            </p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-3">
                                        <img
                                        src="image/{{this.entryImage}}"
                                        class="img-fluid"
                                        style="height: 169px; width: 246.5px; object-fit: cover"
                                        alt="..."
                                        />
                                    </div>
                                {{else}}
                                    <div class="col-12 custom">
                                        <a href="indivletter/{{this._id}}" method='GET'>
                                            <h5
                                            class="card-title ps-3 pt-4"
                                            style="margin-bottom: -0.4em"
                                            >
                                            {{this.letterTitle}}
                                            </h5>
                                            <div class="card-body" style="overflow: hidden">
                                            <p class="card-text">
                                                {{this.letterBody}}
                                            </p>
                                            </div>
                                        </a>
                                    </div>
                                {{/if}}
                                <div class="card-footer" id="letterFooter">
                                    <p class="card-text">
                                        <small class="text-muted"> Send to <a href="/userprofile/{{this.recipient}}">{{this.recipient}}</a> at {{time this.dateToReceive}} on {{date this.dateToReceive}}</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{else}}
                <div class="row">
                    <div class="col-12">
                        <p style="text-align: center; margin-bottom: 0.5em">You do not have outgoing letters</p>
                    </div>
                </div>
            {{/each}}
        {{/if}}
    </div>
</section>

<section>
    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#createLetterModal" style="box-shadow: none">
    <i class="fas fa-feather-alt" id="newLetter" title="Create Letter"></i>
    </button>
        
    <div class="modal fade" id="createLetterModal" tabindex="-1" aria-labelledby="createLetterModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="border-radius: 15px">
                <div class="modal-header">
                <h5 class="modal-title" id="createLetterModalLabel"> Send a letter</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                <!-- Creating letter -->
                <form>
                    <div class="mb-3">
                    <label class="visually-hidden" for="autoSizingSelect">Title of Letter</label>
                    <input type="text" id="letterTitle" name="letterTitle" class="form-control" placeholder="Title of Letter" aria-label="Title of Letter">
                    <div id="emptyTitleCreate" style="font-size: 8pt; color: red;"></div>
                    </div>
                    <div class="row g-3 mb-4">
                    <div class="col-md-6">
                        <label for="inputPrivacy" style="font-size: 14px;">Select Recipient</label>
                        <select id="inputRecipient" class="form-select">
                        <option selected> Yourself </option>
                        {{#each friends}}
                            <option> {{this.friendName}} </option>
                        {{/each}}
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="dateLetter" style="font-size: 14px;"> Date to be sent </label>
                        <input type="datetime-local" class="form-control" id="dateLetter">
                        <div id="errorLetterDate" style="font-size: 8pt; color: red;"></div>
                    </div>
                    </div>
                    
                    <div class="mb-3">
                    <label class="visually-hidden" for="LetterFormControlTextarea1" class="form-label">Letter Text Area</label>
                    <textarea class="form-control" id="LetterFormControlTextarea1" name="letterBody" rows="5" placeholder="What do you want to say?" aria-label="letter content"></textarea>
                    <div id="emptyBodyCreate" style="font-size: 8pt; color: red;"></div>
                    </div>

                    <div class="mb-3">
                    <div class="row">
                        <label for="exampleFormControlFile1" style="font-size: 14px;">Insert Image</label>
                        <input type="file" class="form-control-file" id="imageFormControlFile2" accept="image/x-png,image/jpeg" >
                    </div>
                    </div>
                    
                </form>
                
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="createLetterBtn">Send letter</button>
                </div>
            </div>
        </div>
    </div>
</section>

