{{>navbar}}
<!-- Account Card -->

    <section class="custom-section">
      <div class="container d-flex align-items-center justify-content-center" style="min-height: inherit;">
        <div class="row" style="padding-bottom: 8em;">
          <div class="col-sm-12 col-lg-4">
            <div class="card" style="border: none; background: none">
              <div class="face face1 mx-auto" style="border-radius: 10px">
                <div class="content">
                  <img src="Images/accountuser.png" alt="accountlogo"/>
                  <h3>Account</h3>
                </div>
              </div>
              <div class="face face2 mx-auto" style="border-radius: 10px">
                <div class="content">
                  <p>
                    View your account settings, as well as edit your account
                    information.
                  </p>
                  <a data-bs-toggle="modal" data-bs-target="#exampleModal">
                    View
                  </a>
  
                  <!-- <a href="#">Edit</a> -->
                </div>
              </div>
            </div>
          </div>
  
          <!-- Memory Card -->
          <div class="col-sm-12 col-lg-4">
            <div class="card" style="border: none; background: none">
              <div class="face face1 mx-auto" style="border-radius: 10px">
                <div class="content">
                  <img
                    src="Images/timecap.png"
                    alt="timecapsule"
                    style="transform: rotate(90deg)"
                  />
                  <h3>Memories</h3>
                </div>
              </div>
              <div class="face face2 mx-auto" style="border-radius: 10px">
                <div class="content">
                  <p>
                    Changes if memories will appear in your account, you can
                    change this later.
                  </p>
                  <a data-bs-toggle="modal" data-bs-target="#memoryModal">Edit</a>
  
                  <!-- <a href="#">Edit</a> -->
                </div>
              </div>
            </div>
          </div>
  
          <!-- Delete Account Card -->
          <div class="col-sm-12 col-lg-4">
            <div class="card" style="border: none; background: none">
              <div class="face face1 mx-auto" style="border-radius: 10px">
                <div class="content">
                  <img src="Images/trash.png" style="margin-left: 2em" />
                  <h3>Delete Account</h3>
                </div>
              </div>
              <div class="face face2 mx-auto" style="border-radius: 10px">
                <div class="content">
                  <p>
                    Delete your account. All information within this account will
                    be deleted in this website. Change is permanent.
                  </p>
                  <a data-bs-toggle="modal" data-bs-target="#deleteModal">Delete Account</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
    
        <!-- Account Details Modal -->
        <div
          class="modal fade"
          style="padding-top: 4rem"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-scrollable" style="width: 30em">
            <div class="modal-content" style="border-radius: 15px">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Account Details</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="mb-3">
                    <div class="row">
                      <div class="col">
                        <h5>First Name</h5>
                        <input
                          type="fName"
                          class="form-control p-2"
                          id="FirstNameNoEdit"
                          aria-describedby="emailHelp"
                          placeholder="{{user.fName}}"
                          readonly
                          style="border: 0px"
                        />
                      </div>
                      <div class="col">
                        <h5>Last Name</h5>
                          <input
                            type="lName"
                            class="form-control p-2"
                            id="LastNameNoEdit"
                            aria-describedby="emailHelp"
                            placeholder="{{user.lName}}"
                            readonly
                            style="border: 0px"
                          />
                      </div>
                    </div>
                  </div>
                
                  <div class="mb-3">
                    <h5>Username</h5>
                    <input
                      type="email"
                      class="form-control p-2"
                      id="UsernameNoEdit"
                      aria-describedby="emailHelp"
                      placeholder="{{user.uName}}"
                      readonly
                      style="border: 0px"
                    />
                  </div>
                  <div class="mb-3">
                    <h5>Email</h5>
                    <input
                      type="email"
                      class="form-control p-2"
                      id="EmailNoEdit"
                      aria-describedby="emailHelp"
                      placeholder="{{user.email}}"
                      readonly
                      style="border: 0px"
                    />
                  </div>
                  <div class="mb-3">
                    <h5>Password</h5>
                    <input
                      type="password"
                      class="form-control p-2"
                      id="PasswordNoEdit"
                      placeholder="******"
                      readonly
                      style="border: 0px"
                    />
                  </div>
                  <div class="mb-0">
                    <h5>Bio</h5>
                    <textarea class="form-control" maxlength="150" placeholder="{{user.bio}}" aria-label="With textarea" readonly style="border: 0px"></textarea>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <a
                  type="button"
                  class="btn btn-primary"
                  onclick="location.href='/editaccount'"
                >
                  Edit Account
              </a>
              </div>
            </div>
          </div>
        </div>
    
        <!-- Memories Modal -->
        <div
          class="modal fade"
          style="padding-top: 8rem"
          id="memoryModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog" style="width: 30em">
            <div class="modal-content" style="border-radius: 15px">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Memories</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="mb-3">
                    <p>
                      Clicking on "Enable" will enable memories on the main page
                    </p>
                    <hr>
                    <p>
                      Clicking on "Disable" will disable memories on the main page
                    </p>
                    {{#if user.memoryenabler}}
                    <p>Memories is currently enabled</p>
                    {{else}}
                    <p>Memories is currently disabled</p>
                    {{/if}}
                  </div>
                </form>
              </div>
              {{#if user.memoryenabler}}
              <div class="modal-footer">
                <button type="button" id="enableMemoriesBtn" class="btn btn-secondary offMem">Disable</button>
                <button type="button" id="disableMemoriesBtn" class="btn btn-secondary onMem" disabled>Enable</button>
              </div>
              {{else}}
              <div class="modal-footer">
                <button type="button" id="enableMemoriesBtn" class="btn btn-secondary offMem" disabled>Disable</button>
                <button type="button" id="disableMemoriesBtn" class="btn btn-secondary onMem">Enable</button>
              </div>
              {{/if}}
            </div>
          </div>
        </div>
    
    
        <div
          class="modal fade"
          style="padding-top: 10rem"
          id="deleteModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog" style="width: 30em">
            <div class="modal-content" style="border-radius: 15px">
              <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Delete Account</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="mb-3">
                    <p>
                      Clicking on confirm will permanently delete your account in our website, all traces of your information will be lost.
                    </p>
                    <br>
                    <p>
                      Are you sure that you want to delete your account?
                    </p>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" onclick="location.href='/deleteaccount'" class="btn btn-danger">Delete Account</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
